ul li{
    font-weight: bold;
    font-size: 20px;
    color:#e73232; 
    font:left;
}

.wd h1{
    text-transform: uppercase;
    font-weight: 100px;
    color:darkred
}

.wd h2{
    text-align: justify;
    color:rgb(107, 100, 3);
    font-weight: bold;
}

h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(112, 7, 47);
}

 ol li{
    font-size: 20px;
    color:purple;
    font-weight:bold;
    
}

img{
    position:relative;
    left: 500px;
    width:300px;
}

body{
    background-color:rgb(161, 214, 214);
}

